<o:section>
<ui:define name="section-title">
</ui:define>
<ui:define name="section-details">
</ui:define>
<ui:define name="section-link">
</ui:define>
<ui:define name="section-body">
</ui:define>
</o:section>