* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font: 80% arial, helvetica, sans-serif;
}

.ifr {
    min-height: 100px;
}

.message-error {
    font-weight: bold;
    color: red;
}

.wstep-link {
    text-decoration: none;
}

.message-info {
    font-weight: bold;
    color: blue;
}

.section-outer {
    padding: 10px;
}

.section-outer .box .content {
    background-color: #eee;
}

.section-outer .box b b.L2,
.section-outer .box b b.L3 {
    background-color: #eee;
}
.section-inner {
    padding: 10px;
}

.section-head {
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px solid;
    margin-bottom: 8px;
    float: left;
    width: 100%;
}

.section-title {
    float: left;
    clear: left;
}

.section-links {
    float: right;
    text-align: right;
}

.section-links img {
}

.section-input {
    margin: 0;
    padding: 0;
    margin-left: 5px;
}

.packed-input {
    margin: 0;
    padding: 0;
}

.condition-panel {
}

.condition-panel .conditions {
    margin-top: 10px;
    margin-left: 20px;
}

.condition-section-head {
    font-weight: bold;
    border-bottom: 1px solid;
    margin-top: 8px;
    margin-bottom: 4px;
    float: left;
    width: 100%;
}

.condition-section-title {
    float: left;
    width: 70%;
    clear: left;
}

.sub-section-head {
    font-weight: bold;
    border-bottom: 1px solid;
    margin-bottom: 4px;
    width: 100%;
}

.label-column {
    padding: 7px;
    vertical-align: top;
}

.input-column {
    vertical-align: top;
}

textarea.policy-description {
    width: 320px;
    height: 100px;
}


.button-container {
    height: 50px;
}

.button-group {
    clear: both;
    margin-top: 10px;
    position: relative;
    float: right;
}


div.button {
    border: 1px solid #999999;
    border-top-color: #CCCCCC;
    border-left-color: #CCCCCC;
    padding: 4px 8px 6px 8px;
    background-color: #FFFFFF;
    background-image: url(../image/background_form_element.gif);
    background-repeat: repeat-x;
}

div.button span {
    color: #333333;
    font-size: 100%;
    font-weight: bold;
    font-family: Verdana, Helvetica, Arial, sans-serif;
}

div.button:active {
    border: 1px solid #CCCCCC;
    border-top-color: #999999;
    border-left-color: #999999;
}

div.button img.right {
    position: relative;
    left: 3px;
    top: 3px;
    margin-right: 3px;
}

div.button img.left {
    position: relative;
    left: -3px;
    top: 3px;
}

.subject-list span {
}

.command-link img {
    vertical-align: middle;
    padding-bottom: 2px;
}

.command-link span {
    font-weight: bold;
    color: #0000FF;
    margin-left: 2px;
}

.command-link:hover span {
    color: #0066FF;
}

#page {
    width: 100%;
}

#header {
    height: 150px;
    background: transparent url(../image/curve_right.png) no-repeat;
}

#logo {
    height: 60px;
    width: 240px;
    position: absolute;
    left: 90px;
    top: 50px;
    z-index: 10;
    background: transparent url(../image/logo.png) no-repeat;
}

#java-logo {
    height: 74px;
    width: 40px;
    position: relative;
    float: right;
    margin: 4px;
    z-index: 10;
    background: transparent url(../image/java_logo.png) no-repeat;
}

#form {
    width: 100%;
}

#menu {
    margin-left: 8px;
}

#panel {
    margin: 8px;
    padding: 8px;
}

#panel-title {
    font-size: 18px;
    font-weight: bold;
    width: 100%;
}

#panel-details {
    margin-bottom: 8px;
}

#panel-body {
}

#footer {
    background-color: #8299AF;
    text-align: right;
    padding-right: 10px;
    color: white;
}

.clear {
    clear: both;
}

.policy-filter-outer {
    width: 100%;
    margin-bottom: 5px;
}

.policy-filter-outer * > table.policy-filter-table {
    border: none;
    border-collapse: collapse;
    padding: 0;
    margin: 0;
}

.policy-filter-table * > td {
    padding-right: 5px;
}

.policy-filter {
    width: 100%;
}

.policy-filter-lead {
    padding-left: 5px;
}

.policy-filter-actions {
    float: right;
    padding-right: 5px;
    position: relative;
    top: 2px;
}

.policy-filter-tableCol1 span label,
.policy-filter-tableCol1 span input {
    padding-left: 5px;
    vertical-align: middle;
}

.policy-filter-input {
    padding: 0;
    margin: 0;
}


.url-resource {
    width: 100%;
}

.url-resource-outer {
    margin-bottom: 5px;
    margin-right: 5px;
}

.url-resource-tableCol1 {
    padding-left: 5px;
}

.url-resource-tableCol2 {
    float: right;
    padding-right: 5px;
}

.url-resource-tableCol1 span label,
.url-resource-tableCol1 span input {
    padding-left: 5px;
    vertical-align: middle;
}

.url-resource-add-popup {
    text-align: left;
}

.banking-resources-add-popup {
    text-align: left;
}

.banking-resources-select-table {
    width: 100%;
}

.banking-resources-select-tableCol1 {
    width: 40%;
}

.banking-resources-select-tableCol2 {
    width: 60%;
}

.view-options-tableCol1 {
    padding-right: 20px;
}

.view-options-tableCol1 span label,
.view-options-tableCol1 span input,
.view-options-tableCol2 span label,
.view-options-tableCol2 span input {
    padding-left: 5px;
    vertical-align: middle;
}

.popup-info,
.popup-question,
.popup-warning,
.popup-error {
    z-index: 999;
    position: absolute;
    background: #FFFFFF;
    min-width: 200px;
    max-width: 600px;
}

.popup-info pre span,
.popup-question pre span,
.popup-warning pre span,
.popup-error pre span {
    font-family: monospace;
    font-size: larger;
}

.popup-info .icon,
.popup-question .icon,
.popup-warning .icon,
.popup-error .icon {
    padding-left: 5px;
}

.popup-info .title,
.popup-question .title,
.popup-warning .title,
.popup-error .title {
    font-weight: bold;
    text-align: center;
}

.popup-info .title span,
.popup-question .title span,
.popup-warning .title span,
.popup-error .title span {
    color: #6666cc;
}

.popup-info .close,
.popup-question .close,
.popup-warning .close,
.popup-error .close {
    padding-right: 5px;
    float:  right;
}

.popup-infoBody,
.popup-questionBody,
.popup-warningBody,
.popup-errorBody {
    text-align: center;
}

.popup-infoBody span,
.popup-infoBody label,
.popup-warningBody span,
.popup-warningBody label,
.popup-questionBody label,
.popup-questionBody span {
    color: #6666cc;
}

.popup-errorBody span,
.popup-errorBody label {
    color: #990000;
}

#menu-separator {
    width: 100%;
    border-top: 1px solid #DDDDDD;
    position: relative;
    top: -1px;
}

#connection-status {
    clear: both;
    float: right;
    position: relative;
    top: 60px;
}

.policy-create-conditions {
    width: 100%;
}

.policy-create-conditions .drop-target {
    background: #ffffff;
    border: 1px solid #000000;
    padding: 16px;
    margin: 32px;
}

.conditions-selected {
    padding-left: 4px;
    width: 70%;
    vertical-align: top;
    margin-right: 32px;
}

.conditions-available {
    padding-left: 4px;
    width: 30%;
    vertical-align: top;
}

.conditions-gutter {
    padding: 16px;
}

.subjects-selected {
    padding-left: 4px;
    width: 70%;
    vertical-align: top;
    margin-right: 32px;
}

.subjects-available {
    padding-left: 4px;
    width: 30%;
    vertical-align: top;
}

.subjects-gutter {
    padding: 16px;
}

.subject-chooser-subject {
    z-index: 10;
}

.policy-create-subjects {
    width: 100%;
}

.policy-create-subjects .drop-target {
    background: #ffffff;
    border: 1px solid #000000;
    padding: 16px;
    margin: 32px;
}


.subject-chooser-button-group {
    margin-left: 16px;
    margin-right: 16px;
}

.subject-chooser-button-group div {
    width: 114px;
}

.subject-chooser-button-group *.add {
    text-align: center;
}

.subject-chooser-button-group *.remove {
    text-align: center;
}

.subject-chooser-button-group *.sub-button-group {
    margin-top: 8px;
    margin-bottom: 8px;
}

.subject-chooser {
    padding: 8px;
    margin: 16px;
}

.draggable {
    cursor: pointer;
}

.actionsCol1 {
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}

.actionsCol2 {
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}

.actionsCol3 {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.banking-resourcesCol1 {
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}

.banking-resourcesCol2 {
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}

.banking-resourcesCol3 {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.multipanel {
}

.multipanel-header {
    padding: 2px;
    white-space: nowrap;
}

.multipanel-title {
    font-size: 11px;
    margin-left: 0px;
    font-weight: bold;
    white-space: normal;
}

.multipanel-controls {
    font-size: 11px;
    text-align: right;
    margin-right: 4px;
    font-weight: bold;
}

.multipanel-body {
    border-top: 1px solid #bbb;
    background: #efefef;
    padding: 4px;
}

.condition-panel {
    margin: 4px;
}

.summary-items {
    margin: 4px;
}

.summary-table {
    width: 100%;
}

.summary-tableCol1 {
    font-weight: bold;
    text-align: left;
    padding-left: 10px;
    width: 20%;
}

.summary-tableCol2 {
    text-align: left;
    width: 40%;
}

.summary-tableCol3 {
    text-align: right;
    padding-right: 10px;
}

.summary-strings {
    padding: 10px;
    overflow: hidden;
    background: #ffffff;
    border: 1px solid #000000;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.summary-strings pre span {
    font-family: monospace;
}

.policy-manage {
    width: 100%;
}

.policy-manageCol1,
.policy-manageCol2,
.policy-manageCol3,
.policy-manageCol4,
.policy-manageCol5,
.policy-manageCol6,
.policy-manageCol7,
.policy-manageCol8,
.policy-manageCol9,
.policy-manageCol10 {
    white-space: nowrap;
    overflow: hidden;
    max-width: 100px;
}

.tooltip .icon {
    padding-left: 5px;
}

.tooltip .title {
    padding-left: 5px;
    padding-right: 5px;
}

.tooltipHdr {
    font-weight: bold;
}
.tooltipBody {
    padding: 10px;
    max-width: 600px;
    min-width: 200px;
    font-size: x-small;
}

.tooltip {
}

.tooltip pre span {
    font-family: monospace;
    font-size: larger;
}

.box, .box b.tc, .box b.bc {
    background-color: transparent;
}

.box b.tc, .box b.bc,.box b.tc b.L1, .box b.tc b.L2, .box b.tc b.L3,.box b.bc b.L1, .box b.bc b.L2, .box b.bc b.L3 {
    font-size: 0px;
    padding: 0;
    display: block;
}

.box b.tc b.L1,.box b.tc b.L2,.box b.bc b.L1,.box b.bc b.L2 { 
    height: 1px;
    line-height: 1px;
    overflow: visible;
}

.box b.tc b.L1,.box b.bc b.L1 { 
    margin: 0 4px;
}

.box b.tc b.L2,.box b.bc b.L2 { 
    margin: 0 2px;
    border-width:0 2px;
    border-style:solid;
}

.box b.tc b.L3,.box b.bc b.L3 {
    margin: 0 1px;
    border-width:0 1px;
    border-style: solid;
    height: 2px;
    overflow: visible;
}

.box .content { 
    border-left-style: solid;
    border-left-width: 1px;
    border-right-style: solid;
    border-right-width: 1px;
    margin: 0; overflow: visible;
}

.box .content { 
    border-left-color: #aaa;
    border-right-color: #aaa;
}

.box b.tc b.L1 { 
    background-color: #aaa;
}

.box b.tc b.L2,.box b.tc b.L3 { 
    border-color: #aaa;
}

.box b.bc b.L1 { 
    background-color: #aaa;
}

.box b.bc b.L2,.box b.bc b.L3 { 
    border-color: #aaa;
}

.box .content { 
    background: transparent;
}

.box b b.L2, .box b b.L3 {
    background-color: transparent;
}

.box {
    margin: 0px;
    width: 100%;

}

.box .content { 
    padding: 0px;
}

.feed-title {
}

.feed-title a {
    text-decoration: underline;
}

.feed-title a span {
    font-size: x-large;
    font-weight: bold;
}

.feed-description {
    margin-bottom: 20px;
}

.feed-description span {
    font-weight: bold;
    color: #888;
}

.entry-title {
}

.entry-title a {
    text-decoration: underline;
}

.entry-title a span {
    font-size: large;
    font-weight: bold;
}

.entry-pubdate {
    padding-bottom: 10px;
}

.entry-pubdate span {
    color: #888;
    font-size: x-small;
}

.entry-content {
    overflow: hidden;
}

.entry-content * > span {
}

.entry-content * > ol,
.entry-content * > ul {
    padding-left: 40px;
}

.entry-content * > li {
    list-style-type: disc;
}

.entry-inner {
    padding: 10px;
}

.entry-outer {
    padding-bottom: 10px;
}
/*
#homeTabContent {
width: 100%;
}

#homeTabHeader {
border: 1px solid #DDDDDD;
padding: 8px;
}

#homeTabMenu {
float: left;
width: 200px;
border: 1px solid #DDDDDD;
padding: 8px;
margin-top: 8px;
}

#homeTabMenuContent {
}

#homeTabDetail {
border: 1px solid #DDDDDD;
margin-left: 226px;
padding: 8px;
margin-top: 8px;
}

#homeTabDetailContent {
}
*/

