/*
 * workaround for icefaces issue 4081
 * http://jira.icefaces.org/browse/ICE-4081
 */
.iceMnuBarItem a,
.iceMnuBarItem span,
.iceMnuBarItem a:hover,
.iceMnuBarVrtItem a,
.iceMnuBarVrtItem span,
.iceMnuBarVrtItem a:hover {
    display:inline;
}

.iceMnuBarItem, .iceMnuBarVrtItem {
    padding-top: 4px;
    padding-bottom: 4px;
}
