/*
* workaround for icefaces issue 4081
* http://jira.icefaces.org/browse/ICE-4081
*/
.iceMnuBarItem span {
    padding-left: 30px;
}

.iceMnuBarItem img {
    position: absolute;
    top: 156px;
}

.iceMnuBarItem, .iceMnuBarVrtItem {
    padding-top: 4px;
    padding-bottom: 4px;
}

.iceMnuItm a,
.iceMnuItm a:hover,
.iceMnuItmVrt a,
.iceMnuItmVrt a:hover {
    padding-top: 4px;
    padding-bottom: 4px;
}

.iceSelInpTxtTxt {
    margin: 2px;
}
