.iceMnuBarItem span {
    padding-left: 30px;
}

.iceMnuBarItem img {
    position: absolute;
    top: 158px;
}

.iceMnuBarItem, .iceMnuBarVrtItem {
    padding-top: 5px;
    padding-bottom: 5px;
}

.iceSelInpTxtTxt {
    margin: 2px;
}

.iceMnuItm a,
.iceMnuItm a:hover {
    padding-top: 5px;
    padding-bottom: 5px;
}

.iceMnuItm a img {
    padding-left: 3px;
}