body {
    font: 80% arial, helvetica, sans-serif;
    margin: 0;
}

#header {
	height: 140px;
	background: #FFFFFF url(images/header.png) no-repeat;
}

#logo {
    height: 60px;
    width: 240px;
    position: absolute;
    left: 260px;
    top: 60px;
    z-index: 10;
    background: transparent url(images/logo.png) no-repeat;
}

#container {
}

#footer {
}