document.write("<A HREF=\"http://download.java.net/general/opensso/nightly/latest/opensso/opensso_@ZIPNAME@\">opensso_@ZIPNAME@</A>");
document.write("<br>");
document.write("<A HREF=\"http://download.java.net/general/opensso/nightly/latest/opensso/opensso_@ZIPNAME@.sha\">[SHA]</A>");
