<?xml version="1.0" encoding="UTF-8"?>

<!--
   The contents of this file are subject to the terms
   of the Common Development and Distribution License
   (the License). You may not use this file except in
   compliance with the License.
                                                                                
   You can obtain a copy of the License at
   https://opensso.dev.java.net/public/CDDLv1.0.html or
   opensso/legal/CDDLv1.0.txt
   See the License for the specific language governing
   permission and limitations under the License.
                                                                                
   When distributing Covered Code, include this CDDL
   Header Notice in each file and include the License file
   at opensso/legal/CDDLv1.0.txt.
   If applicable, add the following below the CDDL Header,
   with the fields enclosed by brackets [] replaced by
   your own identifying information:
   "Portions Copyrighted [year] [name of copyright owner]"
                                                                                
   $Id: web.xml,v 1.1 2007-03-10 23:00:09 pbryan Exp $
                                                                                
   Copyright 2007 Sun Microsystems Inc. All Rights Reserved
   Portions Copyrighted 2007 Paul C. Bryan.
-->

<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

    <display-name>Access Manager Services</display-name>
    <distributable/>

    <servlet>
        <servlet-name>openidProvider</servlet-name>
        <description>OpenID Provider</description>
        <servlet-class>com.sun.identity.openid.ProviderServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>openidProvider</servlet-name>
        <url-pattern>/openid/*</url-pattern>
    </servlet-mapping>

</web-app>
